<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as productId">
      <td>{{ product.id }}</td>
      <td>
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
          {{ product.name }}
        </a>
      </td>
      <!--<td>
        <p *ngIf="product.description">
          Description : {{ product.description }}
        </p>
      </td>-->
      <!--<td>
        <button (click)="share()">
          Share
        </button>
      </td>
      <td>
        <app-product-alerts [product]="product"
                            (notify)="onNotify()">
        </app-product-alerts>
      </td>-->
    </tr>
  </tbody>
</table>  
